* {
    padding: 0px;
    margin: 0px;
}

/* main section styling */
.main {
    background-image: url("img/back.jpg");
    background-size: 100vw;
    /* background-position: center center;
    background-repeat:no-repeat;  */
    height: 100vh;

}

/* main section styling end */



/* nav bar styling starts */
.nav {
    margin-top: 250px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding-top: 25px;
    width: 80vw;
    margin: auto;


}

.nav img {
    padding-top: 10px;
    width: 200px;
    height: 50px;
}

.nav-buttons select {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;
    background-color: transparent;
    width: 180px;
    height: 45px;
    border: 1px solid white;
    border-radius: 10px;
}

.nav-buttons button {
    color: white;
    font-weight: 900;
    font-size: 17px;
    background-color: red;
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

/* nav bar styling ends */


/* herosection styilng starts */
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;

    color: white;
    font-size: 90px;
    font-weight: 900;

    height: calc(100%-100px);



}

.hero div {
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 75px;
    line-height: 90px;
}

.emailputtingsection button {
    width: 240px;
    height: 70px;
    color: white;
    background-color: red;
    font-size: 20px;
    border-radius: 5px;

}

.emailputtingsection input {
    width: 600px;
    height: 70px;
    background-color: transparent;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: azure;

}

/* hero section ends */
.separation {
    height: 11px;
    background-color: grey;
}

.first {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80vh;
}

.first .words {
    display: flex;
    color: aliceblue;
    justify-content: center;
    flex-direction: column;
    max-width: 30vw;
    height: 100%;
    font-size: 30px;

}

.faq {
    width: 420vh;
    width: 100vw;
    background-color: black;
    padding-bottom: 50px;
}

.faq div {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 35px;
    padding: 30px;
    height: 70px;
    width: 80vw;
    margin: auto;
    background-color: rgba(111, 111, 111, .5);
    cursor: pointer;
}

.faq div:hover {
    background-color: rgba(111, 111, 111, .2);
}

.something {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100vw;
    background-color: black;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer li {
    background-color: black;
    line-height: 20px;
    text-align: center;
    column-gap: 200px;
    line-height: 59px;
    font-size: 15px;
}

.footer li a {
    text-transform: none;
    color: white
}

.last-botton {
    background-color: black;
    height: 200px;
    padding-left: 100px;


}

.last-botton select {
    background-color: transparent;
    color: azure;
    width: 150px;
    height: 46px;
    font-size: 25px;

}